BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
# 左括号不换行
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Preserve