BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Preserve